@import "tailwindcss";

@font-face {
  font-family: "Andenver";
  src: url("/font/Andenver.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-primary: "Andenver", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --color-dark: #121212;
  --color-light: #F0F0F0;
  --color-primary: #FF9500;
}

@custom-variant dark (&:where(.dark, .dark *));

